/node_modules
/public/admin/node_modules
/public/hot
/public/admin
/public/storage
/storage/*.key
/vendor
/public/vendor
/public/admin/assets/images
/public/admin/assets/vendors
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/productImage/1635337931.jpg
public/productImage/1635338432.jpg
